{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}Profilo{% endblock%}

{% block fos_user_content %}
{% block body %}
<div class="center_content_pages">
        
        <h2>Edit Profilo</h2>
        <div class="left_content">            
            <div class="block_wide">
       
        <section class="comments" id="comments">
        <section class="previous-comments">   
            
<h3>Il tuo profilo</h3>
<div class="sonata-user-show">
      
    {% if app.user.biography |slice(0, 6) == '_image' %}
    <img src="{{ asset(['bundles/Immaginiuser/', app.user.biography]|join) }}" alt="immagine profilo" class="imgprofilo"/>
    {% else %}
    <img src="{{ app.user.biography }}" alt="immagine profilo" class="imgprofilo"/> 
    {% endif %}
    
    <h2><b>{{ app.user.username | title | slice(21,12)}}</b></br></h2>
                    
    <b>data del compleanno</b>
                     
    <h2><b>{{ app.user.dateOfBirth | date(' d - m') }}</b></br></h2>
    <h2><a href="{{app.user.website}}">Le tue pagine </a></h2>
    

    <ul>
     {#   <li><h3><a href="{{ path('UserProfile') }}">edit profilo</a></h3></li>  #}
     {#}   <li><a href="{{ path('sonata_user_profile_edit') }}">{{ "link_edit_profile" | trans({}, 'SonataUserBundle')}}</a></li> 
        <li><a href="{{ path('sonata_user_profile_edit_authentication') }}">{{ "link_edit_authentication" | trans({}, 'SonataUserBundle')}}</a></li>
    </ul> #}
</div>

</section>
</section>
    </div></div></div>
{% endblock  %}
{% endblock fos_user_content %}